<!DOCTYPE html>
<html>
   <head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   <title>Connexion</title>
   <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
   <style>
   body {
      background-color:transparent !important;
      padding:10px;
   }
   .loginButton {
      width:70px;
      vertical-align:bottom;
      margin:3px;
      display: block;
      margin-left: auto;
      margin-right: auto;
   }
   .initialViewSmall {
      width: 160px;
      margin-left: auto;
      margin-right:auto;
      background: transparent;
   }
   .initialViewBig {
      width: 300px;
      margin-left: auto;
      margin-right:auto;
      background: transparent;
   }
   .buttonLink {
      text-decoration: none;
   }
   p.center {
      text-align:center;
   }
   .tiny {
      font-size:8pt;
      margin:0pt;
   }
   .loginbuttonBig {
      width: 240px;
      margin-left:auto;
      margin-right:auto;
   }
   .googlefacebookbuttons {
      display: -webkit-flex;
      display:flex;
      -webkit-flex-direction: row;
      -webkit-justify-content: space-around;
      flex-direction: row;
      justify-content: space-around;
      width: 350px;
      margin-left: auto;
      margin-right: auto;
   }
   .googlefacebookbutton {
      flex: 0 0 150px;
      -webkit-flex: 0 0 150px;
   }
   button.center {
      display: block;
      margin-left: auto;
      margin-right: auto;
   }
   [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
   }
   </style>
   <script src="bower_components/jquery/dist/jquery.min.js"></script>
   <script src="config.js.php"></script>
   <script src="bower_components/angular/angular.min.js"></script>
   <script src="bower_components/angular-i18n/angular-locale_fr-fr.js"></script>
   <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
   <script src="bower_components/i18next/i18next.min.js"></script>
   <script src="bower_components/i18next-xhr-backend/i18nextXHRBackend.min.js"></script>
   <script src="bower_components/ng-i18next/dist/ng-i18next.min.js"></script>
   <script src="bower_components/jschannel/src/jschannel.js"></script>
   <link href="bower_components/fontawesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
   <link href="bower_components/bootstrap-social/bootstrap-social.css" rel="stylesheet" type="text/css" />
   <script src="loginManager.js?v=12"></script>
   </head>
   <body ng-controller="LoginCtrl" id="LoginCtrl" ng-cloak>
      <div id="fb-root"></div>
      <div ng-show="step == 'notConnected' && largeMode" class="initialViewBig">
         <div ng-i18next="[html]intro"></div>
         <p class="center" ng-i18next="connect_with"></p>
         <a class="btn btn-block btn-social btn-openid loginbuttonBig" ng-click="loginWith($event, 'password')">
           <i class="fa fa-key"></i> <span  ng-i18next="with_password"></span>
         </a>
         <a class="btn btn-block btn-social btn-facebook loginbuttonBig" ng-click="loginWith($event, 'facebook')">
           <i class="fa fa-facebook"></i> <span ng-i18next="with_facebook"></span>
           
         </a>
         <a class="btn btn-block btn-social btn-google loginbuttonBig" ng-click="loginWith($event, 'google')">
           <i class="fa fa-google-plus"></i> <span ng-i18next="with_google"></span>
         </a>
         <br>
         <form ng-if="requiredBadge" style="width: 240px; margin-left: auto; padding-top: 10px; margin-right: auto; padding-bottom: 10px;">
            <div class="form-group">
               <label for="badgeCode" ng-i18next="badge_code_input"></label>
               <input type="text" class="form-control" id="badgeCode" ng-model="badgeInfos.code">
            </div>
            <button class="btn btn-info" ng-click="submitBadgeInfos();" class="btn btn-info" ng-i18next="createFromBadge_button" style="width:100%"></button>
         </form>
         <p ng-show="badgeError">{{badgeError}}</p>
         <p ng-show="badgeLoading" ng-i18next="loading"></p>
         <p class="tiny center"><a href="" ng-click="openPasswordRecovery();" ng-i18next="forgotten_password"></a></p>
      </div>
      <div  ng-show="step == 'notConnected' && !largeMode" class="initialViewSmall">
         <div ng-i18next="[html]intro"></div>
         <p class="center" ng-i18next="connect_with_short"></p>
         <a ng-if="hasPMS" class="btn btn-block btn-social btn-yahoo" ng-click="loginWith($event, 'pms')">
           <i class="fa fa-university"></i>
           PMS
         </a>
         <a class="btn btn-block btn-social btn-openid" ng-click="loginWith($event, 'password')">
           <i class="fa fa-key"></i> <span ng-i18next="with_password_short"></span>
         </a>
         <a class="btn btn-block btn-social btn-facebook" ng-click="loginWith($event, 'facebook')">
           <i class="fa fa-facebook"></i>
           Facebook
         </a>
         <a class="btn btn-block btn-social btn-google" ng-click="loginWith($event, 'google')">
           <i class="fa fa-google-plus"></i>
           Google+
         </a>
         <form ng-if="requiredBadge">
            <div class="form-group">
               <label for="badgeCode" ng-i18next="badge_code_input"></label>
               <input type="text" class="form-control" id="badgeCode" ng-model="badgeInfos.code">
            </div>
            <button class="btn btn-info" ng-click="submitBadgeInfos();" class="btn btn-info" ng-i18next="createFromBadge_button" style="width:100%"></button>
         </form>
         <p ng-show="badgeError">{{badgeError}}</p>
         <p ng-show="badgeLoading" ng-i18next="loading"></p>
         <p class="tiny center"><a href="" ng-click="openPasswordRecovery();" ng-i18next="forgotten_password"></a></p>
      </div>
      <div ng-show="step == 'connected'">
         <button ng-click='logout()' class="center btn btn-info" ng-i18next="logout"></button>
         <p class="tiny center"><a href="" ng-click="openPasswordChange();" ng-i18next="change_password"></a></p>
         <!--<input class="center" type='button' ng-click='properties()' value="Préférences">-->
      </div>
      <div ng-show="step == 'recover'">
         <div ng-show="mailSent" ng-i18next="[html]mail_sent">
         </div>
         <div ng-show="!mailSent">
            <p  ng-i18next="[html]recover_intro"></p>
            <form>
               <div class="form-group">
                  <input type="text" class="form-control" id="recoverEmail">
               </div>
               <button class="btn btn-info" ng-click="recoverPassword();" type="submit" class="btn btn-info" ng-i18next="recover_button"></button>
            </form>
         </div>
      </div>
      <div ng-show="step == 'changePass'">
         <p ng-if="changePassLoading" ng-i18next="loading"></p>
         <p ng-i18next="new_password_intro"></p>
         <form>
            <div class="form-group">
               <label for="oldPassword" ng-i18next="old_password"></label>
               <input type="password" class="form-control" id="oldPasswordChangePass" name="oldPassword">
            </div>
            <div class="form-group">
               <label for="newPassword" ng-i18next="new_password"></label>
               <input type="password" class="form-control" id="newPasswordChangePass" name="newPassword">
            </div>
            <div class="form-group">
               <label for="newPasswordConf" ng-i18next="new_password_confirm"></label>
               <input type="password" class="form-control" id="newPasswordConfChangePass" name="newPasswordConf">
            </div>
            <button class="btn btn-info" ng-click="sendNewPassword('changePass');" type="submit" class="btn btn-info" ng-i18next="new_password_button"></button>
         </form>
      </div>
      <div ng-show="step == 'changePassDone'">
        <p><span ng-i18next="new_password_done"></span> <button class="btn btn-info" ng-click="changePassDone();" ng-i18next="close"></button></p>
      </div>
      <div ng-show="step == 'badgeOrNormal'">
         <p ng-i18next="badgeOrNormal_intro"></p>
         <button class="btn btn-info" ng-click="step = 'notConnected';" class="btn btn-info" ng-i18next="normal_login_button"></button><br><br>
         <form>
            <div class="form-group">
               <label for="badgeCode" ng-i18next="badge_code_input"></label>
               <input type="text" class="form-control" id="badgeCode" ng-model="badgeInfos.code">
            </div>
            <button class="btn btn-info" ng-click="submitBadgeInfos();" class="btn btn-info" ng-i18next="createFromBadge_button"></button>
         </form>
         <p ng-show="badgeError">{{badgeError}}</p>
         <p ng-show="badgeLoading" ng-i18next="loading"></p>
      </div>
      <div ng-show="step == 'badgeInfos'">
         <p ng-i18next="badgeInfos_intro"></p>
         <form>
            <div class="form-group">
               <label for="badgeCode" ng-i18next="badge_code_input"></label>
               <input type="text" class="form-control" id="badgeCode" ng-model="badgeInfos.code">
            </div>
            <button class="btn btn-info" ng-click="submitBadgeInfos();" class="btn btn-info" ng-i18next="createFromBadge_button"></button><br>
            <button class="btn btn-info" ng-click="iDontHaveThisBadge();" class="btn btn-info" ng-i18next="forceLogin_button" style="margin-top:10px;"></button>
         </form>
         <p ng-show="badgeError">{{badgeError}}</p>
         <p ng-show="badgeLoading" ng-i18next="loading"></p>
      </div>
      <div ng-show="step == 'badgeCreationConfirm'">
         <p ng-i18next="badgeCreationConfirm_intro"></p>
         <form>
            <div class="form-group">
               <label for="badgeCode" ng-i18next="badge_code_input"></label>
               <input type="text" class="form-control" id="badgeCode" ng-model="badgeInfos.code">
            </div>
            <div class="form-group">
              <label for="login" ng-i18next="infos_firstName"></label>
              <input type="text" class="form-control" id="infos-firstName" ng-model="infos.sFirstName" placeholder="{{'infos_firstName_placeholder' | i18next}}">
            </div>
            <div class="form-group">
              <label for="login" ng-i18next="infos_lastName"></label>
              <input type="text" class="form-control" id="infos-lastName" ng-model="infos.sLastName" placeholder="{{'infos_lastName_placeholder' | i18next}}">
            </div>
           <div class="form-group">
              <label class="radio-inline"><input type="radio" ng-model="infos.sSex" ng-value="'Male'">{{'infos_sSex_m' | i18next}}</label>
              <label class="radio-inline"><input type="radio" ng-model="infos.sSex" ng-value="'Female'">{{'infos_sSex_f' | i18next}}</label>
            </div>
            <div class="form-group">
              <label for="login" ng-i18next="infos_email"></label>
              <input type="text" class="form-control" id="infos-email" ng-model="infos.sEmail" placeholder="{{'infos_email_placeholder' | i18next}}">
            </div>
            <div class="form-group">
               <label for="sLogin" ng-i18next="infos_login"></label>
               <input type="text" class="form-control" id="sLogin" ng-model="infos.sLogin">
            </div>
            <div class="form-group">
               <label for="newPassword" ng-i18next="new_password"></label>
               <input type="password" class="form-control" id="newPassword" ng-model="infos.sPassword">
            </div>
            <div class="form-group">
               <label for="newPasswordConf" ng-i18next="new_password_confirm"></label>
               <input type="password" class="form-control" id="newPasswordConf" ng-model="infos.sPasswordConfirm">
            </div>
            <button class="btn btn-info" ng-click="confirmCreationFromBadge();" class="btn btn-info" ng-i18next="createFromBadge_button"></button>
         </form>
         <p ng-show="badgeError">{{badgeError}}</p>
         <p ng-show="badgeLoading" ng-i18next="loading"></p>
      </div>
      <div ng-show="step == 'recoveredPasswordChanged'">
         <form ng-show="!recoverLoading && !recoverError">
            <div class="form-group">
               <label for="newPassword" ng-i18next="new_password"></label>
               <input type="password" class="form-control" id="newPasswordRecovered">
            </div>
            <div class="form-group">
               <label for="newPasswordConf" ng-i18next="new_password_confirm"></label>
               <input type="password" class="form-control" id="newPasswordConfRecovered">
            </div>
            <button class="btn btn-info" ng-click="createFromBadge('recovered');" type="submit" class="btn btn-info" ng-i18next="createFromBadge_ok"></button>
         </form>
         <p ng-show="recoverLoading" ng-i18next="loading"></p>
      </div>
      <div ng-show="step == 'recovered'">
         <p ng-show="recoverLoading" ng-i18next="loading"></p>
         <p ng-show="!recoverLoading && !recoverError" ng-i18next="recover_input_password"></p>
         <form ng-show="!recoverLoading && !recoverError">
            <div class="form-group">
               <label for="newPassword" ng-i18next="new_password"></label>
               <input type="password" class="form-control" id="newPasswordRecovered">
            </div>
            <div class="form-group">
               <label for="newPasswordConf" ng-i18next="new_password_confirm"></label>
               <input type="password" class="form-control" id="newPasswordConfRecovered">
            </div>
            <button class="btn btn-info" ng-click="sendNewPassword('recovered');" type="submit" class="btn btn-info" ng-i18next="new_password"></button>
         </form>
         <p ng-show="!recoverLoading && recoverError" ng-i18next="recover_link_nok"></p>
      </div>
      <div ng-show="step == 'properties'">
         <p ng-i18next="properties_email_intro"></p>
         <form>
            <div class="form-group">
               <label for="newEmail" ng-i18next="infos_email"></label>
               <input type="text" ng-model="session.sEmail" class="form-control" id="newEmail">
            </div>
            <button class="btn btn-info" type="submit" class="btn btn-info" ng-i18next="infos_email_button"></button>
         </form>
         <div ng-if="session.hasPassword" ng-i18next="identity_login_ok">
         </div>
         <div ng-if="!session.hasPassword" ng-i18next="identity_login_add">
         </div>
         <form>
            <div class="form-group">
               <label for="newPassword" ng-18next="new_password"></label>
               <input type="password" class="form-control" id="newPassword">
            </div>
            <div class="form-group">
               <label for="newPasswordConf" ng-i18next="new_password_confirm"></label>
               <input type="password" class="form-control" id="newPasswordConf">
            </div>
            <button class="btn btn-info" ng-click="sendNewPassword();" type="submit" class="btn btn-info" ng-i18next="new_password_button"></button>
         </form>
         <div ng-if="session.hasGoogle">
            <span ng-i18next="identity_google_ok"></span>
            <button class="btn btn-info" ng-click="removeGoogle();" type="submit" class="btn btn-info" ng-i18next="remove_identity"></button>
         </div>
         <div ng-if="!session.hasGoogle && !session.hasFacebook">
            <span ng-i18next="identity_google_add"></span>
            <a href="#" ng-click="openerLoginWith($event, 'google')" class="buttonLink">
               <img src="login_google.png" title="Login with Google" style="width:70px;">
            </a>
         </div>
         <div ng-if="session.hasFacebook">
            <span ng-i18next="identity_facebook_ok"></span>
            <button class="btn btn-info" ng-click="removeFacebook();" type="submit" class="btn btn-info" ng-i18next="remove_identity"></button>
         </div>
         <div ng-if="!session.hasFacebook && !session.hasGoogle">
            <span ng-i18next="identity_facebook_add"></span>
            <a href="#" ng-click="openerLoginWith($event, 'facebook')" class="buttonLink">
               <img src="login_facebook.png" title="Login with Facebook" style="width:70px;">
            </a>
         </div>
      </div>
      <div ng-show="step == 'login'">
         <form>
            <div class="form-group">
              <label for="login" ng-i18next="ask_login"></label>
              <input type="text" class="form-control" id="login" ng-model="login" placeholder="{{'login_placeholder' | i18next}}">
            </div>
            <div class="form-group">
              <label for="password1" ng-i18next="ask_password"></label>
              <input type="password" class="form-control" id="password1" ng-model="password1" placeholder="{{'password_placeholder' | i18next}}">
            </div>
            <button type="submit" class="btn btn-primary" ng-click="passwordLogin()" ng-i18next="login_button"></button>
            <button class="btn btn-success" ng-click="step = 'newUser'" ng-i18next="create_account_button"></button>
         </form>
      </div>
      <div ng-show="step == 'infos'">
         <form>
            <div class="form-group">
              <label for="login" ng-i18next="infos_firstName"></label>
              <input type="text" class="form-control" id="infos-firstName" ng-model="infos.sFirstName" placeholder="{{'infos_firstName_placeholder' | i18next}}">
            </div>
            <div class="form-group">
              <label for="login" ng-i18next="infos_lastName"></label>
              <input type="text" class="form-control" id="infos-lastName" ng-model="infos.sLastName" placeholder="{{'infos_lastName_placeholder' | i18next}}">
            </div>
            <div class="form-group">
              <label for="login" ng-i18next="infos_studentId"></label>
              <input type="text" class="form-control" id="infos-studentId" ng-model="infos.sStudentId" placeholder="{{'infos_studentId_placeholder' | i18next}}">
            </div>
            <button type="submit" class="btn btn-primary" ng-click="changeInfos()" ng-i18next="ok"></button>
            <p style="color:red">{{infosError}}</p>
         </form>
      </div>
      <div ng-show="step == 'newLogin'">
         <form>
            <div class="form-group">
              <label for="login" ng-i18next="choose_login" ng-i18nex="choose_login"></label>
              <input type="text" class="form-control" id="login" ng-model="login" placeholder="{{'login_placeholder' | i18next}}">
            </div>
            <button class="btn btn-info" ng-click="submitNewLogin()" ng-i18next="ok"></button>
         </form>
      </div>
      <div ng-show="step == 'newUser'">
         <p ng-i18next="[html]login_with_third_party"></p>
         <div class="googlefacebookbuttons">
            <a class="btn btn-social btn-facebook googlefacebookbutton" ng-click="openerLoginWith($event, 'facebook')">
              <i class="fa fa-facebook"></i>
              Facebook
            </a>
            <a class="btn btn-social btn-google googlefacebookbutton" ng-click="openerLoginWith($event, 'google')">
              <i class="fa fa-google-plus"></i>
              Google+
            </a>
         </div>
         <p ng-i18next="[html]or_create_login"></p>
         <form>
            <div class="form-group">
              <label for="login" ng-i18next="ask_new_login"></label>
              <input type="text" class="form-control" id="login" ng-model="login" placeholder="{{'login_placeholder' | i18next}}">
            </div>
            <div class="form-group">
              <label for="password" ng-i18next="ask_password"></label>
              <input type="password" class="form-control" id="password" ng-model="password1" placeholder="{{'password_placeholder' | i18next}}">
            </div>
            <div class="form-group">
              <label for="password2" ng-i18next="ask_password_confirm"></label>
              <input type="password" class="form-control" id="password2" ng-model="password2" placeholder="{{'password_placeholder' | i18next}}">
            </div>
            <div class="form-group">
              <label for="email" ng-i18next="infos_email"></label>
              <input type="text" class="form-control" id="email" ng-model="email" placeholder="{{'infos_email_placeholder' | i18next}}">
            </div>
            <p ng-hide="email" ng-i18next="infos_email_warning"></p>
            <button class="btn btn-info" ng-click="createUser()" ng-i18next="create_account_button"></button>
         </form>
      </div>
      <p style="color:red">{{ session.sErrorMessage }}</p>
   </body>
</html>
