<!DOCTYPE HTML>
<html>
   <head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   <title>Connexion</title>
   <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
   <style>
   body {
      background-color:transparent !important;
      padding:10px;
   }
   .loginButton {
      width:70px;
      vertical-align:bottom;
      margin:3px;
      display: block;
      margin-left: auto;
      margin-right: auto;
   }
   .initialView {
      width: 160px;
      margin-left: auto;
      margin-right:auto;
      background: transparent;
   }
   .buttonLink {
      text-decoration: none;
   }
   p.center {
      text-align:center;
   }
   .tiny {
      font-size:8pt;
      margin:0pt;
   }
   .googlefacebookbuttons {
      display: -webkit-flex;
      display:flex;
      -webkit-flex-direction: row;
      -webkit-justify-content: space-around;
      flex-direction: row;
      justify-content: space-around;
      width: 350px;
      margin-left: auto;
      margin-right: auto;
   }
   .googlefacebookbutton {
      flex: 0 0 150px;
      -webkit-flex: 0 0 150px;
   }
   button.center {
      display: block;
      margin-left: auto;
      margin-right: auto;
   }
   </style>
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
   <script src="config.js.php"></script>
   <script src="translation.js"></script>
   <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
   <script src="https://code.angularjs.org/1.3.10/i18n/angular-locale_fr-fr.js"></script>
   <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular-sanitize.min.js"></script>
   <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
   <link href="bower_components/bootstrap-social/bootstrap-social.css" rel="stylesheet" type="text/css" />
   <script src="loginManager.js"></script>
   </head>
   <body ng-app="login" ng-controller="LoginCtrl" id="LoginCtrl">
      <div id="fb-root"></div>
      <div ng-show="step == 'notConnected'" class="initialView">
         <p class="center">Se connecter avec :</p>
         <a class="btn btn-block btn-social btn-facebook" ng-click="loginWith($event, 'facebook')">
           <i class="fa fa-facebook"></i>
           Facebook
         </a>
         <a class="btn btn-block btn-social btn-google" ng-click="loginWith($event, 'google')">
           <i class="fa fa-google-plus"></i>
           Google+
         </a>
         <a class="btn btn-block btn-social btn-openid" ng-click="loginWith($event, 'password')">
           <i class="fa fa-key"></i>
           Mot de passe
         </a>
         <p class="tiny center"><a href="" ng-click="openPasswordRecovery();">Mot de passe oublié ?</a></p>
      </div>
      <div ng-show="step == 'connected'">
         <button ng-click='logout()' class="center btn btn-info">Se déconnecter</button>
         <!--<input class="center" type='button' ng-click='properties()' value="Préférences">-->
      </div>
      <div ng-show="step == 'recover'">
         <div ng-show="mailSent">
            <p><strong>Un email vous a été envoyé avec un code vous permettant de choisir un nouveau mot de passe.</strong></p>
            <p>Si vous ne recevez pas de email, contactez-nous en suivant le lien 'Nous contacter' dans le menu ou en écrivant directement à <a href="mailto:info@france-ioi.org">info@france-ioi.org</a>.</p>
            <p>Vous pouvez maintenant fermer cette fenêtre.</p>
         </div>
         <div ng-show="!mailSent">
            <p><strong>Si vous avez déjà eu un compte sur France-IOI, vous ne devez surtout pas en recréer un deuxième, sinon vous risquez d'être considéré comme tricheur et banni de France-IOI.</strong></p>
            <p>Le formulaire suivant vous permet de récupérer votre compte à l'aide de votre e-mail. Si vous n'avez pas enregistré d'e-mail lors de la création de votre compte, il est malheureusement impossible de le récupérer.</p><p>Si vous aviez bien enregistré un e-mail et que vous n'arrivez pas à récupérer votre compte par ce moyen, il vous faut contacter l'administrateur via le lien "nous contacter" accessible depuis le menu.</p>
            <p>Renseigner un des deux champs suivants&nbsp;:</p>
            <form>
               <div class="form-group">
                  <label for="recoverLogin">Login&nbsp;:</label>
                  <input type="text" class="form-control" id="recoverLogin">
               </div>
               <div class="form-group">
                  <label for="recoverEmail">E-mail&nbsp;:</label>
                  <input type="text" class="form-control" id="recoverEmail">
               </div>
               <button class="btn btn-info" ng-click="recoverPassword();" type="submit" class="btn btn-info">Recevoir un email permettant de récupérer son compte</button>
            </form>
         </div>
      </div>
      <div ng-show="step == 'recoveredPasswordChanged'">
         <p ng-show="recoverPasswordChangeLoading">Chargement...</p>
         <p ng-show="!recoverPasswordChangeError && !recoverPasswordChangeLoading">Votre nouveau mot de passe est enregistré, vous pouvez fermer cette fenêtre et vous connecter normalement.</p>
         <p ng-show="recoverPasswordChangeError">Désolé, un problème a été rencontré lors du changement de mot de passe, veuillez contacter le support.</p>
      </div>
      <div ng-show="step == 'recovered'">
         <p ng-show="recoverLoading">Chargement...</p>
         <p ng-show="!recoverLoading && !recoverError">Veuillez choisir un nouveau mot de passe :</p>
         <form ng-show="!recoverLoading && !recoverError">
            <div class="form-group">
               <label for="newPassword">Nouveau mot de passe :</label>
               <input type="password" class="form-control" id="newPasswordRecovered">
            </div>
            <div class="form-group">
               <label for="newPasswordConf">Nouveau mot de passe (confirmation) :</label>
               <input type="password" class="form-control" id="newPasswordConfRecovered">
            </div>
            <button class="btn btn-info" ng-click="sendNewPassword(true);" type="submit" class="btn btn-info">Mettre à jour mon mot de passe</button>
         </form>
         <p ng-show="!recoverLoading && recoverError">Désolé, le lien que vous avez suivi n'est plus valide, merci de répéter l'opération de récupération de compte depuis le début.</p>
      </div>
      <div ng-show="step == 'properties'">
         <p>L'adresse Email est très importante pour nous permettre de vous contacter.
         <form>
            <div class="form-group">
               <label for="newEmail">Adresse e-mail :</label>
               <input type="password" ng-model="session.sEmail" class="form-control" id="newEmail">
            </div>
            <button class="btn btn-info" type="submit" class="btn btn-info">Mettre à jour mon adresse e-mail</button>
         </form>
         <div ng-if="session.hasPassword">
            Identité Login/Mot de passe :
         </div>
         <div ng-if="!session.hasPassword">
            Créer une Identité Login/Mot de passe :
         </div>
         <form>
            <div class="form-group">
               <label for="newPassword">Nouveau mot de passe :</label>
               <input type="password" class="form-control" id="newPassword">
            </div>
            <div class="form-group">
               <label for="newPasswordConf">Nouveau mot de passe (confirmation) :</label>
               <input type="password" class="form-control" id="newPasswordConf">
            </div>
            <button class="btn btn-info" ng-click="sendNewPassword();" type="submit" class="btn btn-info">Mettre à jour mon mot de passe</button>
         </form>
         <div ng-if="session.hasGoogle">
            Une identité Google est associée à ce compte.
            <button class="btn btn-info" ng-click="removeGoogle();" type="submit" class="btn btn-info">La supprimer</button>
         </div>
         <div ng-if="!session.hasGoogle && !session.hasFacebook">
            Associer une identité Google à ce compte:
            <a href="#" ng-click="openerLoginWith($event, 'google')" class="buttonLink">
               <img src="login_google.png" title="Login with Google" style="width:70px;">
            </a>
         </div>
         <div ng-if="session.hasFacebook">
            Une identité Facebook est associée à ce compte.
            <button class="btn btn-info" ng-click="removeFacebook();" type="submit" class="btn btn-info">La supprimer</button>
         </div>
         <div ng-if="!session.hasFacebook && !session.hasGoogle">
            Associer une identité Facebook à ce compte:
            <a href="#" ng-click="openerLoginWith($event, 'facebook')" class="buttonLink">
               <img src="login_facebook.png" title="Login with Facebook" style="width:70px;">
            </a>
         </div>
      </div>
      <div ng-show="step == 'login'">
         <form>
            <div class="form-group">
              <label for="login">Votre login :</label>
              <input type="text" class="form-control" id="login" ng-model="login" placeholder="Login">
            </div>
            <div class="form-group">
              <label for="password1">Votre mot de passe :</label>
              <input type="password" class="form-control" id="password1" ng-model="password1" placeholder="Mot de passe">
            </div>
            <button type="submit" class="btn btn-primary" ng-click="passwordLogin()">Se connecter</button>
            <button class="btn btn-success" ng-click="step = 'newUser'">Créer un compte</button>
         </form>
      </div>
      <div ng-show="step == 'newLogin'">
         <form>
            <div class="form-group">
              <label for="login">Choisissez un login :</label>
              <input type="text" class="form-control" id="login" ng-model="login" placeholder="Login">
            </div>
            <button class="btn btn-info" ng-click="submitNewLogin()">Enregistrer</button>
         </form>
      </div>
      <div ng-show="step == 'newUser'">
         <p>Utiliser un <strong>login tierce</strong> :</p>
         <div class="googlefacebookbuttons">
            <a class="btn btn-social btn-facebook googlefacebookbutton" ng-click="openerLoginWith($event, 'facebook')">
              <i class="fa fa-facebook"></i>
              Facebook
            </a>
            <a class="btn btn-social btn-google googlefacebookbutton" ng-click="openerLoginWith($event, 'google')">
              <i class="fa fa-google-plus"></i>
              Google+
            </a>
         </div>
         <p>ou <strong>créer un identifiant</strong> :</p>
         <form>
            <div class="form-group">
              <label for="login">Votre nouveau login :</label>
              <input type="text" class="form-control" id="login" ng-model="login" placeholder="Login">
            </div>
            <div class="form-group">
              <label for="password">Votre mot de passe :</label>
              <input type="password" class="form-control" id="password" ng-model="password1" placeholder="Mot de passe">
            </div>
            <div class="form-group">
              <label for="password2">Confirmation du mot de passe :</label>
              <input type="password" class="form-control" id="password2" ng-model="password2" placeholder="Mot de passe">
            </div>
            <div class="form-group">
              <label for="email">Votre adresse email :</label>
              <input type="text" class="form-control" id="email" ng-model="email" placeholder="Email">
            </div>
            <p ng-hide="email">L'adresse E-mail n'est pas obligatoire mais est vivement conseillée. Si vous ne la remplissez pas, il vous sera impossible de retrouver votre compte en cas de perte de votre mot de passe.</p>
            <button class="btn btn-info" ng-click="createUser()">Créer mon compte</button>
         </form>
      </div>
      <p style="color:red">{{ session.sErrorMessage }}</p>
   </body>
</html>
