.filestyle {
    padding: 2px 12px;
    height:auto;
}


.list-group-sortable li {
    cursor: move;
}

.nav > li > a {
    padding: 14px 15px;
}

.profile-tooltip-icon {
    cursor: default;
    margin-left: 10px;
    font-weight: normal;
    color: #999;
}