/*
*
*	GENERIC ELEMENTS
*
*/
.container {
	padding-left: 0;
	padding-right: 0;
}
a {
	color: $text-color-secondary;
}
hr {
	border-color: #D8D8D8;
}
.btn {
	text-transform: uppercase;
	font-weight: bold;
	line-height: 1.5;
	border: none;
	font-size: 1.2rem;
	position: relative;
}
.btn-wide {
	width: 100%;
}
.btn-rounded {
	border-radius: 50px;
	padding: 6px 15px;
}
.btn .icon {
	position: absolute;
	left: 16px;
	top: 7px;
	top: calc(50% - 0.5em);
}
.form-group {
	position: relative;
}
.form-control {
	background-color: $input-background;
	border: 1px solid $input-border;
	box-shadow: none;
	font-size: 16px;
}
.input-group {

	.input-group-addon {
		border: none;
		color: $input-icon;
		padding: 6px 9px;
		font-weight: bold;
	}
	.form-control {
		border: none;
		padding-left: 3px;
	}
}
:placeholder-shown {
	font-style: italic;
}
.filestyle {
    padding: 2px 12px;
    height:auto;
}
.list-group-sortable li {
    cursor: move;
}
.profile-tooltip-icon {
    cursor: help;
	font-weight: normal;
	color: #999;
	position: absolute;
	top: 8px;
	right: 142px;
	overflow: visible;
	font-size: 18px;
}
/* Switch checkbox */
.checkboxSwitch {
	input {
		display: none;
	}
	label {
		padding: 0;
		.bg {
			display: inline-block;
			background: rgba(0,0,0,0.05);
			border-radius: 10px;
			box-shadow: inset 0 1px 0 0 rgba(0,0,0,0.05);
			height: 15px;
			width: 50px;
			position: absolute;
			right: 0;
			cursor: pointer;

			.cursor {
				position: absolute;
				left: 0;
				top: 1px;
				height: 12px;
				width: 25px;
				border-radius: 6px;
				background-color: #9B9B9B;
				box-shadow: 0 1px 0 0 #727273;
				transition: all 250ms;
			}
		}
		input:checked + span .cursor {
			background-color: $brand-primary;
			left: 50%;
		}
	}
}
.bgDropdown {
	background-color: $brand-primary;
	border-radius: 10px;

	.dropdown-toggle {
		color: $text-color-light;
		padding: 3px 10px;
	}
}
.panelTitle {
	font-size: 1.2rem;
	font-weight: bold;
	text-align: center;
	line-height: 30px;
	text-transform: uppercase;
	margin: 10px 0;
}
.col-centered {
	margin: 0 auto;
	float: none;
}
.centered_form .form-group {
	padding: 0 165px;
}
/*
*
* SPECIFIC ELEMENTS
*
*/
/* Header */
.header {
	margin: 10px 15px 0;
}
.headerNav {
	& > div {
		display: inline-block;
	}
}
.platformTitle {
	font-size: 1.8rem;
	text-transform: uppercase;
	font-weight: bold;
}

/* Login screens title */
.pageTitle_wrapper {
	text-align: center;
	margin-top: 3em;
	margin-bottom: 3em;
}
.pageTitle {
	font-size: 2.8rem;
}

/* Login method selection screen */
.panel-auth {
	background: rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 0 0 rgba(0,0,0,0.05);
	border-radius: 5px;
	width: 561px;
	margin: 0 auto;

	.row {
		margin: 0;
		.col-sm-6 {
			padding: 10px 20px 30px;
		}
	}
	.row .hasBorder {
		border-right: 1px solid #D8D8D8;
	}
	.panel-heading {
		border-bottom: 1px solid #D8D8D8;
		.back_link {
			color: #787878;
			font-weight: bold;

			i {
				margin-right: 10px;
			}
		}
	}
	.panel-body {
		padding: 0;
	}
}
.highlightBlock {
	background-color: rgba(0,0,0,0.68);
	color: $text-color-light;
	text-align: center;
	border-radius: 0 0 5px 5px;

	a, a:hover {
		color: $text-color-light;
		text-decoration: underline;
		font-weight: bold;
	}
}
/* Menu tabs */
.tabs-menu {
	display: flex;
	list-style: none;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	font-size: 1.2rem;

	li {
		text-align: center;
		width: 100%;
		white-space: nowrap;
		&:not(.active):not(.prev):not(:last-child) {
			border-right-width: 2px;
			border-right-style: solid;
			-webkit-border-image:
			  -webkit-linear-gradient(rgba(0,0,0,0.01),rgba(0,0,0,0.1), rgba(0,0,0,0.01)) 1 100%;
			-moz-border-image:
			  -moz-linear-gradient(rgba(0,0,0,0.01),rgba(0,0,0,0.1), rgba(0,0,0,0.01)) 1 100%;
			-o-border-image:
			  -o-linear-gradient(rgba(0,0,0,0.01),rgba(0,0,0,0.1), rgba(0,0,0,0.01)) 1 100%;
			border-image:
			  linear-gradient(to bottom, rgba(0,0,0,0.01),rgba(0,0,0,0.1), rgba(0,0,0,0.01)) 1 100%;
		}
		a {
			padding: 10px 0;
			display: block;
			text-decoration: none;
			i {
				padding-right: 8px;
			}
		}
		&.active {
			background-color: #fff;
			border-radius: 5px 5px 0 0;
			position: relative;
			padding-left: 4px;
			left: -4px;
			&:first-child {
				padding-left: 0;
				left: 0;
			}
			&:last-child {
				margin-right: -4px;
			}
			&::before,
			&::after {
				content: " ";
				position: absolute;
				width: 20px;
				height: 20px;
				background: transparent;
			}
			&:first-child::before,
			&:last-child::after {
				content: normal;
			}
			&::before {
				border-radius: 50% 0;
				box-shadow: 10px 0px 0 #fff;
				bottom: 0;
				left: -20px;
			}
			&::after {
				border-radius: 0 50%;
				box-shadow: -10px 0px 0 #fff;
				bottom: 0;
				right: -20px;
			}
			a {
				color: $brand-primary;
			}
		}
	}
}
.userHeader {
	margin-bottom: 30px;
}
.user-picture {
	width: 100px;
	height: 100px;
	margin-right: 8px;
	border-radius: 50%;
}