@import "variables";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "passport";
@import "common";
@import "spinner";

@font-face {
  font-family: 'Titillium Web';
  src: url('../fonts/titilliumweb-light.woff2') format('woff2'),
       url('../fonts/titilliumweb-light.woff') format('woff'),
       url('../fonts/titilliumweb-light.ttf') format('truetype');
  font-weight: 100;
}
@font-face {
  font-family: 'Titillium Web';
  src: url('../fonts/titilliumweb-regular.woff2') format('woff2'),
       url('../fonts/titilliumweb-regular.woff') format('woff'),
       url('../fonts/titilliumweb-regular.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'Titillium Web';
  src: url('../fonts/titilliumweb-bold.woff2') format('woff2'),
       url('../fonts/titilliumweb-bold.woff') format('woff'),
       url('../fonts/titilliumweb-bold.ttf') format('truetype');
  font-weight: bold;
}